@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: #f0f0f0;
  outline: 1px solid red;
}

nav {
  border-bottom: 0.1px solid #e0e0e0;
}

.wave {
  display: inline-block;
  animation: wave 3s infinite ease-in-out;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  40% { transform: rotate(14deg); }
  50% { transform: rotate(-4deg); }
  60% { transform: rotate(10deg); }
  70% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.move {
  animation: move 4s ease-in-out infinite;
}

.fill {
  background: rgba(168, 25, 245, 0.4);
  animation: fill 4s ease-in-out infinite;
}

@keyframes move {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(1500%); }
  100% { transform: translateX(0); }
}

@keyframes fill {
  0%   { width: 0; background-color: transparent; }
  50%  { width: 100%; background-color: rgba(83, 19, 245, 0.5);  }
  100% { width: 0; background-color: transparent; }
}

/* Reveal animation */
.reveal:hover{
  cursor: pointer;
  opacity: 1;
  transform: translateY(10px) scale(0.98);
  transition: all 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.certificate-card {
  width: 580px;
  height: 380px;
  perspective: 1000px;
}

.certificate-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s ease;
}

.certificate-card:hover .certificate-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.certificate-front,
.certificate-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificate-front {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.15);
  color: white;
}

.certificate-back {
  transform: rotateY(180deg);
  background: black;
}

.certificate-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}



